* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

body.light {
    background: white;
    color: black;
}

body.dark {
    background: black;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background: rgb(122, 122, 211);
    color: blue;
    cursor: pointer;
}